In [ ]:
import pandas as pd

In [ ]:
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Data Pendidikan/Data1110 desa indonesia timur - pendidikan.csv', skiprows=6)

In [ ]:
data.head()

,1,2,3,4,5,6,7,9,639,641,643
0,A,NUSA TENGGARA TIMUR,AA1,NGADA,AA101,GOLEWA,AA1012002,2023,Tamat SD/ Sederajat,2.0,1.0
1,A,NUSA TENGGARA TIMUR,AA1,NGADA,AA101,GOLEWA,AA1012010,2023,Tamat SD/ Sederajat,0.0,1.0
2,A,NUSA TENGGARA TIMUR,AA1,NGADA,AA101,GOLEWA,AA1012011,2023,Tamat SD/ Sederajat,5.0,1.0
3,A,NUSA TENGGARA TIMUR,AA1,NGADA,AA101,GOLEWA,AA1012018,2023,Tamat SD/ Sederajat,4.0,1.0
4,A,NUSA TENGGARA TIMUR,AA1,NGADA,AA101,GOLEWA,AA1012025,2023,Tamat SD/ Sederajat,0.0,1.0

In [ ]:
data.head()

,dicetak melalui aplikasi idm.kemendesa.go.id,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,DIMENSI SOSIAL - BIDANG PENDIDIKAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KODE PROV,NAMA PROVINSI,KODE KAB,NAMA KABUPATEN,KODE KEC,NAMA KECAMATAN,KODE DESA,Data Tahun,Data Tingkat Pendidikan,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tingkat pendidikan sebagian besar penduduk Desa,b. Jumlah anak usia SD yang putus atau tidak s...,b. Jumlah anak usia SMP yang putus atau tidak ...
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ed_pend,SD_tdk_sklh_jml,SMP_tdk_sklh_jml

In [ ]:
print(data.columns)

Index(['1', '2', '3', '4', '5', '6', '7', '9', '639', '641', '643'], dtype='object')

In [ ]:
print("Informasi tentang tipe data setiap kolom:")
data.info()

Informasi tentang tipe data setiap kolom:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110 entries, 0 to 1109
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1110 non-null   object
 1   2       1110 non-null   object
 2   3       1110 non-null   object
 3   4       1110 non-null   object
 4   5       1110 non-null   object
 5   6       1110 non-null   object
 6   7       1110 non-null   object
 7   9       1110 non-null   int64
 8   639     1103 non-null   object
 9   641     1103 non-null   float64
 10  643     1103 non-null   float64
dtypes: float64(2), int64(1), object(8)
memory usage: 95.5+ KB

In [ ]:
print("Jumlah baris dan kolom dalam dataset:")
print(data.shape)

Jumlah baris dan kolom dalam dataset:
(1110, 11)

In [ ]:
print(data.isnull().sum())

1      0
2      0
3      0
4      0
5      0
6      0
7      0
9      0
639    7
641    7
643    7
dtype: int64

In [ ]:
data_cleaned = data.dropna()

In [ ]:
duplicate_rows = data_cleaned[data_cleaned.duplicated()]

In [ ]:
data_cleaned.drop_duplicates(inplace=True)

<ipython-input-11-82caea92c2d6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned.drop_duplicates(inplace=True)

In [ ]:
data_cleaned.describe(include='all')

,1,2,3,4,5,6,7,9,639,641,643
count,1103,1103,1103,1103,1103,1103,1103,1103.0,1103,1103.000000,1103.000000
unique,8,8,25,25,181,181,1103,NaN,6,NaN,NaN
top,A,NUSA TENGGARA TIMUR,CC1,HALMAHERA BARAT,CC101,JAILOLO,AA1012002,NaN,Tamat SD/ Sederajat,NaN,NaN
freq,231,231,84,84,21,21,1,NaN,345,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,8.168631,0.468722
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,30.821991,0.499247
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,5.000000,1.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023.0,NaN,787.000000,1.000000

In [ ]:
data_cleaned.to_csv('/content/drive/MyDrive/Data/Data_Pendidikan.csv', index=False)

In [ ]:
# Membaca file CSV yang telah disimpan
data = pd.read_csv('file_output.csv')

# Menampilkan data yang telah dibaca
print(data)

     dicetak melalui aplikasi idm.kemendesa.go.id        Unnamed: 1  \
0              DIMENSI SOSIAL - BIDANG PENDIDIKAN               NaN
1                                             NaN               NaN
2                                       KODE PROV     NAMA PROVINSI
3                                             NaN               NaN
4                                             NaN               NaN
...                                           ...               ...
1111                                            H  PAPUA PEGUNUNGAN
1112                                            H  PAPUA PEGUNUNGAN
1113                                            H  PAPUA PEGUNUNGAN
1114                                            H  PAPUA PEGUNUNGAN
1115                                            H  PAPUA PEGUNUNGAN

     Unnamed: 2      Unnamed: 3 Unnamed: 4      Unnamed: 5 Unnamed: 6  \
0           NaN             NaN        NaN             NaN        NaN
1           NaN             NaN        NaN             NaN        NaN
2      KODE KAB  NAMA KABUPATEN   KODE KEC  NAMA KECAMATAN  KODE DESA
3           NaN             NaN        NaN             NaN        NaN
4           NaN             NaN        NaN             NaN        NaN
...         ...             ...        ...             ...        ...
1111        HH2        YAHUKIMO      HH207            SUMO  HH2072001
1112        HH2        YAHUKIMO      HH207            SUMO  HH2072003
1113        HH2        YAHUKIMO      HH207            SUMO  HH2072004
1114        HH2        YAHUKIMO      HH207            SUMO  HH2072009
1115        HH2        YAHUKIMO      HH207            SUMO  HH2072011

      Unnamed: 7                                       Unnamed: 8  \
0            NaN                                              NaN
1            NaN                                              NaN
2     Data Tahun                          Data Tingkat Pendidikan
3            NaN  Tingkat pendidikan sebagian besar penduduk Desa
4            NaN                                          Ed_pend
...          ...                                              ...
1111        2023                              Tamat SD/ Sederajat
1112        2023                              Tamat SD/ Sederajat
1113        2023                              Tamat SD/ Sederajat
1114        2023                              Tamat SD/ Sederajat
1115        2023                              Tamat SD/ Sederajat

                                             Unnamed: 9  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3     b. Jumlah anak usia SD yang putus atau tidak s...
4                                       SD_tdk_sklh_jml
...                                                 ...
1111                                                 92
1112                                                 18
1113                                                 10
1114                                                 10
1115                                                 21

                                            Unnamed: 10
0                                                   NaN
1                                                   NaN
2                                                   NaN
3     b. Jumlah anak usia SMP yang putus atau tidak ...
4                                      SMP_tdk_sklh_jml
...                                                 ...
1111                                                  0
1112                                                  0
1113                                                  1
1114                                                  1
1115                                                  0

[1116 rows x 11 columns]

In [ ]:
# Tentukan path lengkap ke direktori yang diinginkan
path_directory = '/Users/62896/Downloads/'

# Membuat direktori jika belum ada
os.makedirs(path_directory, exist_ok=True)

# Menyimpan DataFrame ke file CSV di direktori tersebut
file_name = 'data_pendidikan_file1.csv'
path_file = os.path.join(path_directory, file_name)
data.to_csv(path_file, index=False)

In [ ]:
import sqlite3

# Menghubungkan ke database SQLite
conn = sqlite3.connect('nama_database.db')
cursor = conn.cursor()

# Query untuk menghapus baris dengan nilai NULL pada kolom 'data_pendidikan'
query = "DELETE FROM data_pendidikan_file WHERE data_pendidikan IS NULL"

# Menjalankan query
cursor.execute(query)

# Melakukan commit untuk menyimpan perubahan
conn.commit()

# Menutup koneksi
conn.close()